.mb-26{
    margin-bottom: 26px;
}

.mb-42{
    margin-bottom: 42px;
}

.mr-50{
    margin-right: 50px;
}

.ml23{
    margin-left: 23px;
}

.fz-12{
    font-size: 12px;
}

.w-296{
    width: 296px;
}

.h-313{
    height: 313px;
}