<aside class="navbar bg-light vh-100 w-296">
  <div class="container-fluid flex-column align-items-start h-100 ps-5">
    <section>
      <a class="navbar-brand mb-42 mt-6" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a>
      <ul class="navbar-nav flex-column h-auto">
        <li class="nav-item">
          <a class="mb-26 fw-bold " href="#">
            <span class="material-symbols-outlined align-bottom me-3">
            insert_chart</span>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="mb-26 fw-bold" href="#">
            <span class="material-symbols-outlined align-bottom me-3">
              question_answer</span>Question</a>
        </li>
        <li class="nav-item">
          <a class="mb-26 fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-3">assignment</span>Assignment</a>
        </li>
        <li class="nav-item">
          <a class="mb-26 fw-bold" href="#">
            <span class="material-symbols-outlined align-bottom me-3">video_library</span>Course</a>
        </li>
        <li class="nav-item">
          <a class="mb-26 fw-bold" href="#">
            <span class="material-symbols-outlined align-bottom me-3">supervisor_account</span>Admin</a>
        </li>
        <li class="nav-item">
          <a class="mb-26 fw-bold" href="#">
            <span class="material-symbols-outlined align-bottom me-3">settings</span>Settings</a>
        </li>
      </ul>
    </section>
    <section>
      <div class="d-flex">
        <div class="flex-shrink-0">
          <img class="rounded-circle object-fit-cover" src="../assets/images/andychen.jpeg" width="40" height="40" alt="andychen jpeg">
        </div>
        <div class="flex-grow-1 ms-3">
          <p class="fw-bold"></p>
          <a class="text-secondary" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
        </div>
      </div>
    </section>
  </div>
</aside>
