.default-color{
    color: $success;
}

.default-color:hover{
    color: $white;
}

.current-color{
    background: $success;
    color: $white;
}

.outline-gray-400-hover{
    &:hover{
        background: $light;
    }
}